
<div>
	{{#link-to 'bikes.new'}}New Bikes{{/link-to}}
	|
	{{#link-to 'bikes.used'}}Used Bikes{{/link-to}}
</div>
<div>
	Styles: 
	{{#each proxiedStyles as |style|}}
		<div>
			<input type="checkbox" name={{style.name}} checked={{style.checked}} onchange={{action "onChecked" value="target.name"}} />  {{style.name}} {{style.checked}}
		</div>
	{{/each}}
</div>
{{outlet}}
